body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bcbcbd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header {
    margin: 20px;
}

form{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input,select,button {
    padding: 10px;
    font: 15px;
}

#task-list {
    width: 100%;
    max-width: 600px;

}

.task {
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.task.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
}
